/GRSL_2.pdf
/IF.pdf
/.idea/file1.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/qiu.pdf:Zone.Identifier
/.idea/vcs.xml
